.portlet-announcements-banner{
	.portlet{
		margin: 0px !important;
	}
	
	.portlet-header{
		display: none !important;
		visibility: hidden !important;
	}
	
	.nhsuk-global-alert {
	    background-color: #ffeb3b;
	    padding-bottom: 24px;
	    padding-top: 24px;
	}
}