.portlet-profilereadiness {
	
	.portlet-content {
		
		.portlet-icon-back, .portlet-title-text {
			display: none !important;
			visibility: hidden !important;
		}
	
	}
	
	
	.button-holder {
		@include media-breakpoint-up(md) {
			.btn-primary {
				float: right;
			}
			.btn-cancel {
				float: left;
			}
		}
		
		@include media-breakpoint-down(md) {
			display: grid;
		}
	}
}