#portlet_com_liferay_login_web_portlet_LoginPortlet .navigation {
	@include media-breakpoint-down(md) {
		.taglib-icon-list li {
			width: 100%;
			margin-top: 1rem;
			margin-bottom: 0.5rem;
		}
	}
}

a.facebook-sso , a.facebook-sso:hover, a.facebook-sso:active, a.facebook-sso:focus {
	color: white !important;
	background-color: $facebook-blue !important;
	border-radius: 0.3rem !important;
	box-shadow: none !important;
	font-weight: bold !important;
	padding: 1rem;
	margin: 1rem 0;
	       
	span.facebook-icon {
		background-image: url("../images/facebook.png");
		background-repeat: no-repeat;
		background-size: auto;
		background-position: 0 0;
		display: inline-block;
		height: 24px;
		outline: none;
		overflow: hidden;
		text-indent: -999px;
		vertical-align: top;
		white-space: nowrap;
		width: 24px;
	}
	     
	span.taglib-text{
		padding-left: 1rem;
	}
}
