@import 'nhsuk-frontend/packages/nhsuk';
@import 'liferay-font-awesome/scss/font-awesome';
@import 'liferay-font-awesome/scss/glyphicons';

@import 'palette';
@import 'typography';
@import 'nhsuk-overrides';
@import 'partials/buttons-override';
@import 'partials/header';
@import 'partials/search-filters';
@import 'partials/sso-buttons';
@import 'components/liferay-blogs';
@import 'components/communitylisting';
@import 'components/fragment-communitydetails';
@import 'components/readiness';
@import 'components/registration';
@import 'components/user-profile';

body{
    background-color: $color_nhsuk-grey-5;
}    

.portlet-layout {
	margin-top: 1rem;
	
	.portlet-header {
		margin-bottom: 0;
	}
}

/* Hide portlet titles on content pages */
.layout-content.portlet-layout {
	.portlet-content .portlet-header .portlet-title-text {
		display: none;
		visibility: hidden;
	}
}

#portlet_com_pfiks_journal_portlet_JournalContentPortlet .portlet-content .portlet-header{
	display: none;
	visibility: hidden;
}