.nhsuk-button--reverse {
	color: $nhsuk-text-color !important;
}

.nhsuk-promo__link-wrapper:hover {
	box-shadow: 0 0 0 4px $color_nhsuk-warm-yellow;
}

.nhsuk-grid-column-full {
	margin-bottom: 1rem;
}	

.compact-mobile-view {
	
	.nhsuk-promo-group__item {
		
		@include media-breakpoint-down(md) {
			flex-basis: auto;
			margin-bottom: 1rem !important;
		}
		
		.nhsuk-promo__content {
			@include media-breakpoint-down(md) {
				padding: 1rem;
			}
		}
	}
}

.nhsuk-care-card.white-card {
	border: 2px solid $nhsuk-link-color;
	
	.nhsuk-care-card__heading-container {
		background-color: unset !important;
		color: unset !important;
	    
	    .nhsuk-care-card__heading .action-icon {
			.icon-monospaced {
				color: unset !important;
				vertical-align: middle;
			}
			
			.nhsuk-u-visually-hidden{
				color: unset !important;
			}		
		}
	}
}

.nhsuk-care-card .nhsuk-care-card__heading .action-icon {
	float: right;
	
	.icon-monospaced {
		color: $white;
		vertical-align: middle;
	}		
	
	.nhsuk-u-visually-hidden {
		color: $white;
	}
	
}